:host {
  display: block;
  margin-right: 20px;
  min-width: 300px;

  .column-container {
    background-color: #0403038a;

    .white-theme {
      color: white;
    }

    .title-block {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      margin-top: 10px;
      overflow-wrap: break-word;

      .block-form-field {
        display: none;
      }

      ::ng-deep {
        .mat-form-field-underline {
          color: white;
        }

        .mat-form-field.mat-focused .mat-form-field-ripple {
          background-color: #4682B4;

          .mat-hint,
          input,
          ::placeholder,
          .mat-form-field-label {
            color: white;
          }
        }
      }

      .form-field-title {
        font-size: 22px;
        font-style: italic;
        font-weight: 500;
      }

      .title {
        font-size: 22px;
        margin-bottom: 0;
        font-style: italic;
        font-weight: 500;
        cursor: pointer;
        min-width: 204px;
        max-width: 204px;
        display: inline-block;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: #4682B4;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        .title-content {
          height: max-content;
        }
      }

      .btn-edit-column {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
          transform: scale(0.8)
        }
      }
    }

    .task-box {
      display: block;
      min-height: 48px;
      margin: 10px 0;
      overflow-y: auto;
      max-height: 45vh;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.259);
        border-radius: 10px;
      }

      .task-block {
        margin: 30px 0;
      }
    }

    .creation-task-block {
      background-color: transparent;
      margin-top: 20px;

      ::ng-deep .mat-expansion-panel-body {
        padding: 10px;
      }

      .header-expansion-panel {
        height: 30px;
        font-size: 14px;
      }

      .title-input {
        margin: 10px 0;
        font-size: 14px;
      }

      .btns-block {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 25px;

        .btn-task-submit {
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 10px;
          background-color: #4682B4;
        }

        .btn-task-remove {
          display: flex;
          align-items: center;
          justify-content: center;

          .delete-icon {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
