<mat-card class="column-container" *ngIf="column">
  <div class="title-block white-theme">
    <mat-card-title
      *ngIf="!isVisibleTitle"
      (click)="showColumnTitle(titleColumn)"
      class="title"
    >
      <span class="title-content">{{ column.title }}</span>
    </mat-card-title>
    <div #formColumnTitle class="block-form-field">
      <mat-form-field class="form-field-title">
        <input
          #titleColumn
          type="text"
          [value]="column.title"
          (keyup.enter)="editTitle($event)"
          (blur)="editTitle($event)"
          matInput
          maxlength="30"
          class="white-theme"
        />
      </mat-form-field>
    </div>
    <button (click)="deleteColumn()" class="btn-edit-column" mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div
    *ngIf="column"
    cdkDropList
    class="task-box"
    [id]="column.id"
    [cdkDropListConnectedTo]="getColumnIds()"
    [cdkDropListData]="column.tasks"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="task-block" *ngFor="let task of column.tasks" cdkDrag>
      <pms-task-item [task]="task"></pms-task-item>
    </div>
  </div>
  <mat-expansion-panel
    (afterExpand)="titleInput.focus()"
    [(expanded)]="isExpanded"
    class="creation-task-block"
    hideToggle
  >
    <mat-expansion-panel-header
      class="header-expansion-panel"
      *ngIf="!isExpanded"
    >
      <mat-panel-title class="white-theme">
        <mat-icon>add</mat-icon>
        <span>Add task</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form
      #form="ngForm"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit(form, titleInput)"
    >
      <input
        #titleInput
        class="title-input white-theme"
        matInput
        formControlName="title"
        placeholder="Enter task title"
        type="text"
      />
      <div class="btns-block">
        <button
          class="btn-task-submit white-theme"
          type="submit"
          mat-raised-button
        >
          Add task
        </button>
        <button
          class="btn-task-remove"
          type="button"
          mat-button
          (click)="resetForm(form)"
        >
          <mat-icon class="delete-icon white-theme" matSuffix>
            highlight_off
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-card>
