.main {
  background: #d5bda5;
  min-height: 100vh;

  .main__body {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 80px;

    ::ng-deep {
      .mat-progress-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: #29241f;
      }
    }

    .main__top {
      display: flex;
      justify-content: space-between;
      position: relative;

      .main__title {
        font-size: 36px;
        margin-left: 20px;
        font-weight: 700;
        font-style: italic;
        position: relative;
      }

      .main__search {
        display: flex;
        height: 36px;
        margin: 6px 20px 0 0;

        mat-label {
          color: #211c1a;
        }

        .mat-input-element {
          color: #000;
        }

        ::ng-deep .mat-focused .mat-form-field-ripple {
          color: #000;
        }

        ::ng-deep .mat-form-field-ripple {
          background-color: #000;
        }

        ::ng-deep .mat-form-field {
          font-size: 14px;
        }

        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
          background-color: #211c1a;
        }

        ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
          padding: 4px 0px;
        }

        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
          margin-top: -4px;
        }

        ::ng-deep .mat-form-field-label-wrapper {
          top: -18px;
        }

        ::ng-deep input {
          caret-color: #000;
        }

        input {
          font-size: 14px;
          position: relative;
          bottom: 5px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #8c7e6c;
      }
    }

    .main__boards {
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .main__board {
        cursor: pointer;
        height: 160px;
        flex: 0 0 calc(100% / 4 - 24px);
        border-radius: 5px;
        border: 2px solid #8c7e6c;
        margin: 20px 10px 0 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 2.5px;
        right: 1px;

        &:before {
          content: '';
          position: absolute;
          z-index: 5;
          top: 10px;
          right: -1px;
          height: 32px;
          width: 50px;
          background: linear-gradient(to right, transparent, #d5bda5);
        }

        &:after {
          content: '';
          position: absolute;
          z-index: 5;
          bottom: -5px;
          left: 0px;
          height: 35px;
          width: 100%;
          background: #000;
          background: linear-gradient(to bottom, transparent, #d5bda5);
        }

        &:hover {
          box-shadow: 0 0 3px #8c7e6c;
          border: 2px solid #361e00;
        }

        &:active {
          box-shadow: 0 0 9px #8c7e6c;
        }
      }
    }
  }
}
