:host {
  display: block;
  width: 700px;

  .block-title {
    display: flex;

    .content-block {
      margin: 20px 0 0 20px;

      .mat-expansion-panel {
        width: 500px;
        margin-top: 20px;

        .title-input {
          margin: 10px 0;
          height: 50px;
          font-size: 18px;
        }

        .btn-task-submit {
          width: 70%;
        }
      }

      .mat-card-subtitle {
        margin-top: 3px;
        margin-left: 34px;
      }

      .title-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .title {
          margin-left: 10px;
        }
      }

      .btns-block {
        display: flex;
        justify-content: space-between;

        .btn-submit {
          width: 80%;
          background-color: #4682B4;
        }
      }

      ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-outline {
          color: transparent;
          background-color: #c0c0c031;
          width: 100%;
          min-height: 150px;
        }

        .mat-form-field {
          margin-top: 10px;
          width: 500px;
          cursor: pointer;

          textarea,
          ::placeholder,
          .mat-form-field-label {
            font-size: 16px;
          }
        }
      }

      .mat-expansion-panel {
        background-color: #c0c0c031;
      }

      .task-title {
        font-size: 20px;
      }

      .column-title {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
