<section class="delete">
  <h2 class="delete__title">Удалить доску</h2>
  <p class="delete__name">{{itemToDelete.title}}</p>
  <div class="delete__buttons">
    <div class="delete__exit">
      <button
        mat-raised-button
        color="success"
        (click)="closeDialog()"
      >Отмена</button>
    </div>
    <div class="delete__submit">
      <button
        mat-raised-button
        color="success"
        (click)="deleteBoard()"
      >Удалить</button>
    </div>
  </div>
</section>
